body{
    background-color: #cefbfb;
}
.calculator{
    width: 300px;
    border-radius: 10px;
    background-color: #4504444a;
    padding: 10px;
    box-shadow: 4px 4px 10px #0a9296;
}
.display{
    
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgb(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;            
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4,3fr);
}

button{
    
    height: 40px;
    width: 60px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                   5px 5px 12px rgba(0,0,.16); 
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;               
}
button:hover{
    background-color: #c23ec2;
}
